body{
	padding: 50px 0 0 0;
	z-index: 0;
}

.navbar-inverse{
	background-color: #303f9f;
	background-image: none;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus{
	background-color: #1a237e;
	color: #fff;
	background-image: none;
}

.jumbotron{
	background-color: #7986cb;
	margin: 0 auto;
	color: floralwhite;
	padding: 70px 30px;
}

.header-row{
	margin: 0 auto;
	padding: 0 auto;
}

.content-row{
	min-height: 400px;
	margin: 0 auto;
	padding: 0 auto;
}

.footer-address{
	color: #0f0f0f;
	font-size: 80%;
}

.footer-row{
	margin: 0 auto;
	padding: 40px 10px;
	background-color: #afafaf;
}